<template>
  <v-card :color="'dark'">
    <v-container>
      <br />
      <a
        href="https://bitbucket.org/dgang0404/dgang0404_site_public/src/master/"
        target="_blank"
      >
        src code on bitbucket :)</a
      >
      <br />
      <br />
      <p>
        I wanted to make a contribution to the development community by making
        this project of mine open sourced. If you end up using this code or
        maybe just want to say good job you can email me at
        davidgang0404@gmail.com or DM my IG at dgang0404 :)
      </p>
      <br />
      <p>
        Before I get into some weeds I would like to give a shout out to my
        sites! Being a developer means figuring stuff out, but it also means
        doing research to find the answer as well. Below is a list of links of
        material that was helpful to build the site including documentation of
        the frameworks I used.
      </p>

      <v-list dense>
        <h3>REFERENCES:</h3>
        <v-list-item-content>
          <v-list-item-title
            >I learned vue from Maximilian Schwarzmüller</v-list-item-title
          >
          <v-list-item>
            <a
              href="https://www.youtube.com/c/Academind/featured"
              target="_blank"
            >
              https://www.youtube.com/c/Academind/featured</a
            >
          </v-list-item>
          <v-list-item>
            <a
              href="  https://www.udemy.com/course/vuejs-2-the-complete-guide/"
              target="_blank"
            >
              https://www.udemy.com/course/vuejs-2-the-complete-guide/</a
            >
          </v-list-item>
          <v-list-item-title>
            This is the site that helped me instal vue and get it working.
            Installing vue and using npm was kind of challenging for me to pick
            up.
          </v-list-item-title>

          <v-list-item>
            <a
              href="https://www.freecodecamp.org/news/how-to-build-a-single-page-application-using-vue-js-vuex-vuetify-and-firebase-838b40721a07/"
              target="_blank"
            >
              https://www.freecodecamp.org/news/how-to-build-a-single-page-application-using-vue-js-vuex-vuetify-and-firebase-838b40721a07/
            </a>
          </v-list-item>

          <v-list-item-title>
            This is where i got the dynamic for idea:</v-list-item-title
          >

          <v-list-item>
            <a
              href="https://codesandbox.io/s/i4tfh?file=/src/components/Example.vue"
              target="_blank"
            >
              https://codesandbox.io/s/i4tfh?file=/src/components/Example.vue
            </a>
          </v-list-item>

          <v-list-item-title>vee-validate : </v-list-item-title>

          <v-list-item>
            <a
              href="https://stackoverflow.com/questions/59053224/problems-with-validation-before-submit"
              target="_blank"
              >https://stackoverflow.com/questions/59053224/problems-with-validation-before-submit
            </a>
          </v-list-item>

          <v-list-item>
            <a href="  https://jsfiddle.net/8gg3r468/1/" target="_blank">
              https://jsfiddle.net/8gg3r468/1/
            </a>
          </v-list-item>

          <v-list-item>
            <a
              href="https://vee-validate.logaretm.com/v3/guide/rules.html#importing-the-rules"
              target="_blank"
            >
              https://vee-validate.logaretm.com/v3/guide/rules.html#importing-the-rules
            </a>
          </v-list-item>

          <v-list-item-title> Emit help:</v-list-item-title>

          <v-list-item>
            <a
              href="https://stackoverflow.com/questions/63623285/vue-js-pass-data-from-one-child-component-to-another-with-the-same-parent"
              target="_blank"
            >
              https://stackoverflow.com/questions/63623285/vue-js-pass-data-from-one-child-component-to-another-with-the-same-parent
            </a>
          </v-list-item>

          <v-list-item-title>Vue docs: </v-list-item-title>

          <v-list-item>
            <a href="https://vuejs.org/v2/guide/" target="_blank"
              >https://vuejs.org/v2/guide/
            </a>
          </v-list-item>

          <v-list-item-title>vuetify : </v-list-item-title>

          <v-list-item>
            <a
              href="https://next.vuetifyjs.com/en/getting-started/installation/"
              target="_blank"
            >
              https://next.vuetifyjs.com/en/getting-started/installation/
            </a>
          </v-list-item>

          <v-list-item-title>Kool github project: </v-list-item-title>

          <v-list-item>
            <a href="https://github.com/Seokky/vue-snake-game" target="_blank">
              https://github.com/Seokky/vue-snake-game</a
            >
          </v-list-item>

          <v-list-item-title>fire base: </v-list-item-title>

          <v-list-item>
            <a
              href="https://firebase.google.com/docs/database/security/rules-conditions"
              target="_blank"
            >
              https://firebase.google.com/docs/database/security/rules-conditions</a
            >
          </v-list-item>
          <v-list-item>
            <a
              href="https://firebase.google.com/docs/database/rest/retrieve-data"
              target="_blank"
            >
              https://firebase.google.com/docs/database/rest/retrieve-data
            </a> </v-list-item
          ><v-list-item>
            <a
              href=" https://www.youtube.com/watch?v=sYNjEzcOTOs&list=PLwkSkim1OFsP8P_5gBfiEGkvOs1L4Xtpk&index=21&ab_channel=TraversyMedia"
              target="_blank"
            >
              https://www.youtube.com/watch?v=sYNjEzcOTOs&list=PLwkSkim1OFsP8P_5gBfiEGkvOs1L4Xtpk&index=21&ab_channel=TraversyMedia
            </a>
          </v-list-item>
        </v-list-item-content>
      </v-list>

      <br />
      <p>
        This site including the web app SD-inventory is developed with vue.js,
        vue router, vue store, vutifiy, vee-validate, axios, and Google
        firebase. SD-inventory is a dynamic form. Fields are generic; title,
        description, component (name of item or whatever), amount, unit of
        measurement. After every new row you enter, a new row appears. So you
        have unlimited components. The bottom grid is optional fields for the
        component, on/off, notes, start, end, and duration time. The optional
        fields link up via a drop down select to get the name of the component.
      </p>
      <br />
      <p>How the dynamic form works. We have a object like this:</p>
      <P
        >state = [{ id: "component", rules: "required", valNidObjs: [{ value:
        null, keyid: 1, }, ], }, { id: "amount", rules: "required|numeric",
        valNidObjs: [{ value: null, keyid: 1, }, ], }, { id:
        "unitOfMeasurement", rules: "required", valNidObjs: [{ value: null,
        keyid: 1, }, ], }, ];
      </P>
      <p>And we loop through it like this:</p>

      <v-img
        max-height="900"
        max-width="1300"
        aspect-ratio="1"
        style="box-shadow: 4px 4px 1px #000;"
        src="../assets/comploop.png"
      >
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row> </template
      ></v-img>

      <p>
        Outer loop moves through the field type and validation rules. The inner
        loop goes through the values and keys for each row of that field type.
        The key id links up the optional fields. Works well for things like
        simultaneously highlighting parent and child rows in two separate grids.
      </p>
      <p>
        The reason I make this array object and flatten it for the gets and
        posts instead of keeping it flat to begin with, is so I can put a
        validation rule on all id/columns e.g all amount values must be a
        number. so the rules can be stored on the object as well as any other
        properties that would apply for all the values of an ID. I'm taking an
        objective first approach. obviously you don't need to loop through all
        of your fields in a form, hard coding the input fields is fine in a lot
        of cases.
      </p>
      <p>
        I plan on doing the backend web api with python using postgresql. I will
        have a lot more control over custom searching/filtering data, bringing
        back larger data sets, and unlimittes reads and writes. Using firebase
        works for a lot of different solutions but not for every one. Let say we
        have a factory with robotics reading in data all day and night. You are
        talking hundreds of thousands reads and writes a day. Another example is
        if you wanted to
        <a href="https://www.osbeehives.com/" target="_blank"
          >read bee hive data</a
        >
        , lot of reads and writes there as well. This will cost thousands of
        dollars every month. Firebase works if there are users putting in the
        data. One can charge the users to make up the money, the juice has to be
        worth the squeeze. Python and postgresql you don't have to worry too
        much about the amount of data, just good, querying, server maintenance,
        and hosting. I plan on having this web api open source as well!
      </p>

      <p>
        If you have a specific question or like to use me for work hit me up
        here davidgang0404@gmail.com
      </p>
    </v-container>
  </v-card>
</template>
