<template>
  <v-card :color="'dark'">
    <v-container>
      <!-- :color="$vuetify.dark ? 'primary' : 'secondary'" -->
      <br />
      <br />
      <p>
        Hi, I'm Dave. I wanted to show off my developer skilz and I also wanted
        my myspace back, so I made this site :) !! If you want to see what I can
        do as far as app development goes check out SD-inventory in the top menu
        ^^ .If you want to jump right in and see a working example log in and
        search for the title
        <i>watering system </i>! If you want to know all about what tools I used
        click the developer stuff tab, bitbucket link included :3
      </p>
      <br />
      <p>
        <v-row>
          <v-col>
            My trade is software development,
            <v-img
              max-height="500"
              max-width="500"
              aspect-ratio="1"
              style="box-shadow: 4px 4px 1px #000;"
              src="../assets/me.png"
            >
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row> </template
            ></v-img>
          </v-col>
          <v-col>
            I garden,
            <v-img
              max-height="500"
              max-width="500"
              aspect-ratio="1"
              style="box-shadow: 4px 4px 1px #000;"
              src="../assets/garden2.png"
            >
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row> </template
            ></v-img>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            I practice yoga and jiu-jitsu,
            <v-img
              max-height="500"
              max-width="500"
              aspect-ratio="1"
              style="box-shadow: 4px 4px 1px #000;"
              src="../assets/bjj.png"
            >
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row> </template
            ></v-img>
          </v-col>
          <v-col>
            I enjoy traveling and spending time with friends and family.
            <v-img
              max-height="500"
              max-width="500"
              aspect-ratio="1"
              style="box-shadow: 4px 4px 1px #000;"
              src="../assets/japan1.png"
            >
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row> </template
            ></v-img>
          </v-col>
        </v-row>
        The art I do is music,
        <a href="https://dgang0404.bandcamp.com/releases" target="_blank"
          >check it out!</a
        >
        I have a cat and a dog. I'm into anima and spooky stuff. For personality
        nerds my Myers Briggs is INFP and my enneagram is 972 sp/sx. I identify
        more with my paths of growth 354 than my wings,however I do feel im a 9
        wing 8.
      </p>
    </v-container>
  </v-card>
</template>
