<template>
  <v-app class="p-3">
    <p v-show="false">{{ loadSwitch }}</p>
    <user class="m-b"></user>
    <search @loadDataInit="loadDataInit()" class="m-b"></search>
    <ValidationObserver
      v-slot="{ handleSubmit }"
      @submit.prevent="validate().then(submit)"
    >
      <ValidationProvider
        v-for="field in displayFields"
        :key="field.id"
        :name="field.name"
        :rules="field.rules"
        v-slot="{ errors }"
        persist
      >
        <div v-show="field.type == 'text'" class="inv">
          <v-text-field
            v-model="field.value"
            placeholder="Title of the new inventory project"
            :label="field.name"
            @keyup="setInv(field)"
          ></v-text-field>
        </div>
        <div v-show="field.type == 'textArea'" class="inv">
          <v-textarea
            v-model="field.value"
            placeholder="Notes, thoughts, summaries, TODOs, etc"
            :label="field.name"
            @keyup="setInv(field)"
          ></v-textarea>
        </div>

        <span class="verror">{{ errors[0] }}</span>
      </ValidationProvider>
      <div>
        <!--Parent-->
        <comp :loadSwitch="loadSwitch" @compValidate="compValidateInv"></comp>
        <!--Child-->
        <opt :loadSwitch="loadSwitch"></opt>
      </div>

      <div v-if="activeColor == 0">
        <v-btn @click="handleSubmit(submit)" class="success">Save</v-btn>
        <v-btn @click="clear()">Clear</v-btn>
      </div>
      <div v-else-if="activeColor == 1">
        <v-btn @click="handleSubmit(submit)" class="error">Save</v-btn>
        <v-btn @click="clear()">Clear</v-btn>
      </div>
      <div v-else>
        <v-row no-gutters dense>
          <v-col cols="1" md="1">
            <v-btn @click="handleSubmit(submit)" color="blue darken-4"
              >Save</v-btn
            >
          </v-col>
          <v-col cols="1" md="1">
            <v-btn @click="clear()">Clear</v-btn>
          </v-col>
        </v-row>
      </div>
    </ValidationObserver>
  </v-app>
</template>

<script>
import inventoryForm from "../data/inventoryForm";
import User from "../components/inv/user";
import Search from "../components/inv/search";
import Comp from "../components/inv/comp";
import Opt from "../components/inv/option";
import axios from "axios";
import { ValidationObserver, ValidationProvider } from "vee-validate";

export default {
  created() {
    inventoryForm.forEach((e) => {
      this.displayFields.push(e);
    });
    return this.displayFields;
  },
  data: () => ({
    displayFields: [],
    loadSwitch: false,
    dialog: false,
    activeColor: 3,
    //haveTitle: false,
  }),
  components: {
    comp: Comp,
    opt: Opt,
    user: User,
    search: Search,
    ValidationObserver,
    ValidationProvider,
    isCompValid: true,
  },
  methods: {
    loadDataInit() {
      var inv = this.$store.getters.getInv;
      for (var i = 0; this.displayFields.length > i; i++) {
        if (this.displayFields[i].id == "title") {
          this.displayFields[i].value = inv.title;
        } else if (this.displayFields[i].id == "description") {
          this.displayFields[i].value = inv.description;
        }
      }

      if (this.loadSwitch) {
        this.loadSwitch = false;
      } else {
        this.loadSwitch = true;
      }
    },
    compValidateInv(b) {
      this.isCompValid = b;
    },
    setInv(field) {
      this.$store.dispatch("setInv", field);
    },
    submit() {
      var inv = this.$store.getters.getInv;
      var url =
        "https://sd-inventory-535c1-default-rtdb.firebaseio.com/inventory.json?" +
        'orderBy="title"' +
        '&equalTo="' +
        inv.title +
        '"' +
        "&limitToLast=1" +
        "&print=pretty";
      axios
        .get(url)
        .then((response) => {
          //handle success
          console.log(response);
          //get id from response
          const status = JSON.parse(response.status);
          if (status == "200") {
          }
          if (response.data == null) {
            var compData = this.$store.getters.getterComps;
            var optData = this.$store.getters.getOpts;
            var user = this.$store.getters.getUser;
            if (user.isLoggedIn) {
              if (this.isCompValid) {
                this.$store.dispatch("setServeObjInv", inv);
                this.$store.dispatch("setServeObjLineItem", compData);
                this.$store.dispatch("setServeObjLineItem", optData);
                this.$store.dispatch("postInv");
                //pop up
                this.$swal({
                  title: "Save Accepted",
                  text:
                    "One can now shearch for this inventory system via the title. No updates at this time pleast just increment your title name, perhaps using a versioning number at the end of your title.",
                });
                this.activeColor = 0;
              } else {
                //pop up
                this.$swal({
                  title: "Save Declined",
                  text: "Componet names must be unique.",
                });
                this.activeColor = 1;
              }
            } else {
              //pop up
              this.$swal({
                title: "Save Declined",
                text: "Please use the beata loggin to save and load data.",
              });
              this.activeColor = 1;
            }
          } else {
            //pop up
            this.$swal({
              title: "Save Declined",
              text: "This title already exsist please change to a unique one.",
            });
            this.activeColor = 1;
          }
        })
        .catch((response) => {
          //handle error
          console.log(response);
          this.activeColor = 1;
        });
    },
    clear() {
      this.$store.dispatch("clearInvState");
      this.$store.dispatch("clearCompState");
      this.$store.dispatch("clearOptState");
      this.loadDataInit();
    },
  },
};
</script>
<style scoped>
.p-3 {
  padding: 20px;
}
.m-b {
  margin-bottom: 20px;
}
.swal-back {
  background: grey;
  color: grey;
}
.inv {
  padding: 5px;
  margin: 0px;
}
.verror {
  background-color: black;
  color: #c91602;
}
</style>
