<template>
  <!--  -->
  <v-card dark class="overflow-hidden">
    <v-app-bar-nav-icon
      id="hidhambuger"
      @click.stop="menuSwitch"
    ></v-app-bar-nav-icon>
    <v-app-bar
      is-fixed-top
      shrink-on-scroll
      fade-img-on-scroll
      dark
      src="../../assets/bamboo.jpg"
      scroll-target="#scrolling-techniques-2"
      scroll-threshold="220"
      id="hidappbar"
    >
      <template v-slot:extension>
        <v-tabs align-with-title class="listGroup">
          <!-- the tabs will change based on step id from -->
          <v-tab to="/home">Home</v-tab>
          <!-- <v-tab to="/music">Music</v-tab> -->
          <v-tab to="/invform">SD-inventory</v-tab>
          <!-- <v-tab to="/maze">Maze Game</v-tab> -->
          <v-tab to="/putterstuf">Developer Stuff</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>
    <!-- absolute top temporary-->
    <v-navigation-drawer app hide-overlay top temporary v-model="drawer">
      <v-list nav dense>
        <v-list-item-group>
          <v-list-item to="/home">
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>

          <!-- <v-list-item to="/music">
            <v-list-item-icon>
              <v-icon>mdi-cash</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Music</v-list-item-title>
          </v-list-item> -->

          <v-list-item to="/invform">
            <v-list-item-icon>
              <v-icon> mdi-factory</v-icon>
            </v-list-item-icon>
            <v-list-item-title>SD-inventory</v-list-item-title>
          </v-list-item>

          <!-- <v-list-item to="/maze">
            <v-list-item-icon>
              <v-icon>mdi-signature </v-icon>
            </v-list-item-icon>
            <v-list-item-title>Maze Game</v-list-item-title>
          </v-list-item> -->

          <v-list-item to="/putterstuf">
            <v-list-item-icon>
              <v-icon>mdi-account-check</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Developer Stuff</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
export default {
  mounted() {
    var hidappbar = document.getElementById("hidappbar");
    var hidhambuger = document.getElementById("hidhambuger");
    var x = window.matchMedia("(max-width: 960px)");

    if (hidappbar != null) {
      if (x.matches) {
        // If media query matches
        hidappbar.style.display = "none";
        hidappbar.style.paddingTop = "20px";
        hidappbar.style.paddingLeft = "5px";
      } else {
        hidappbar.style.display = "block";
        hidhambuger.style.display = "none";
      }
    }
  },
  data: () => ({
    drawer: false,
  }),
  methods: {
    menuSwitch: function() {
      this.drawer = !this.drawer;
    },
  },
};
</script>

<style>
#hidappbar {
  display: block;
}
.listGroup {
  background-color: #000;
  opacity: 0.9;
}
/* @media screen and (min-width: 0px) and (max-width: 960px) {
  #hidappbar {
    display: none;
    padding-top: 20px !important;
  } 
} */
</style>
