<template>
  <v-sheet
    id="scrolling-techniques-2"
    class="overflow-y-auto"
    :color="$vuetify.dark ? 'primary' : 'secondary'"
  >
    <div v-if="isMobile">
      <div id="isMobile">
        <router-view></router-view>
      </div>
    </div>
    <div v-else>
      <router-view></router-view>
    </div>
  </v-sheet>
</template>

<script>
export default {
  props: ["isMobile"],
};
</script>
<style>
#truecollapseOnScroll {
  padding-top: 10px;
}
#isMobile {
  padding-left: 10px;
}
html {
  overflow: scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
</style>
