<template>
  <v-card class="rounded-card">
    <v-container ma-1 fluid fill-height>
      <p v-show="false">{{ loadSwitch }}</p>
      <v-form>
        <ValidationObserver @submit.prevent="validate().then(submit)">
          <v-row no-gutters class="nowrap-overflow ">
            <ValidationProvider
              v-for="(field, i) in displayFieldsComp"
              :key="i"
              :name="field.id"
              :rules="field.rules"
              v-slot="{ errors }"
              persist
            >
              <v-col class="compContaner">
                <v-row
                  v-for="(obj, x) in field.valNidObjs"
                  :key="x"
                  :class="{
                    highlighted: getHighlightedRow() == obj.keyid && !alert,
                    'red darken-6 rounded':
                      getHighlightedRow() == obj.keyid && alert,
                    shadow: isNewRow(field.valNidObjs, x),
                  }"
                >
                  <v-col v-if="field.id == 'component'">
                    <v-text-field
                      v-model="obj.value"
                      :placeholder="field.id"
                      :label="field.id"
                      @keyup="
                        setInv(field.id, obj.keyid, obj.value),
                          setOptLink(obj.keyid, obj.value)
                      "
                      @click="setHighlightRow(obj.keyid)"
                      @focus="setHighlightRow(obj.keyid)"
                    ></v-text-field>
                  </v-col>
                  <v-col v-if="field.id == 'amount'">
                    <v-text-field
                      v-model="obj.value"
                      :placeholder="field.id"
                      :label="field.id"
                      @keyup="setInv(field.id, obj.keyid, obj.value)"
                      @click="setHighlightRow(obj.keyid)"
                      @focus="setHighlightRow(obj.keyid)"
                    ></v-text-field>
                  </v-col>
                  <v-col v-if="field.id == 'unitOfMeasurement'">
                    <v-text-field
                      v-model="obj.value"
                      :placeholder="field.id"
                      :label="field.id"
                      @keyup="setInv(field.id, obj.keyid, obj.value)"
                      @click="setHighlightRow(obj.keyid)"
                      @focus="setHighlightRow(obj.keyid)"
                    ></v-text-field>
                  </v-col>
                  <v-col v-if="isEndCol(i, x, field.valNidObjs.length)">
                    <v-btn
                      @click="deleteRow(obj.keyid), setHighlightRow(obj.keyid)"
                      @focus="setHighlightRow(obj.keyid)"
                      >Delete</v-btn
                    >
                  </v-col>
                </v-row>
                <span class="verror">{{ errors[0] }}</span>
              </v-col>
            </ValidationProvider>
          </v-row>
        </ValidationObserver>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
  props: ["loadSwitch"],
  created() {
    //populate data from state
    this.displayFieldsComp = this.$store.getters.getterComps;
    return this.displayFieldsComp;
  },
  data: () => ({
    displayFieldsComp: [],
    alert: false,
    payload: {
      id: null,
      value: null,
      keyid: null,
    },
  }),
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  methods: {
    setInv(id, keyid, value) {
      //sets vules and keyids
      if (
        this.payload.id != id ||
        this.payload.keyid != keyid ||
        this.payload.value != value
      ) {
        this.payload.id = id;
        this.payload.keyid = keyid;
        this.payload.value = value;
        if (value != null && value != "") {
          this.$store.dispatch("setComp", this.payload);
          this.setKeyID();
        }
      }
    },
    isNewRow(obj, x) {
      //for the end row oppacity
      if (x != 0 && x == obj.length - 1) {
        return true;
      } else {
        return false;
      }
    },
    setKeyID() {
      //set display
      this.displayFieldsComp = this.$store.getters.getterComps;
      //check to see if the comp id is unique
      var temp = this.displayFieldsComp[0].valNidObjs,
        unique = temp.filter(
          ((set) => (f) => !set.has(f.value) && set.add(f.value))(new Set())
        );
      if (temp.length > unique.length) {
        this.$emit("compValidate", false);
      } else {
        this.$emit("compValidate", true);
      }
    },
    setOptLink(keyid, value) {
      var payload = {
        keyid: keyid,
        value: value,
      };
      this.$store.dispatch("resetOptLinkName", payload);
    },
    isEndCol(i, x, valNidObjsLength) {
      var n = (i + 1) / 3;
      var result = n - Math.floor(n) !== 0;
      //dont show the delete if:
      // there is only 1 row
      // or on the last row
      if (
        !result &&
        i != 0 &&
        (x != 0 || valNidObjsLength >= 2) &&
        x != valNidObjsLength - 1
      ) {
        return true;
      } else {
        return false;
      }
    },
    deleteRow(dkeyid) {
      this.alert = true;
      this.$store.dispatch("setDelete", dkeyid);
      this.setKeyID();
      setTimeout(() => (this.alert = false), 1000);
    },
    setHighlightRow(keyid) {
      this.$store.dispatch("setHigh", keyid);
    },
    getHighlightedRow() {
      return this.$store.getters.getHigh;
    },
  },
  watch: {
    loadSwitch: function(newVal, oldVal) {
      // watch it
      console.log("old " + oldVal);
      console.log("new " + newVal);
      this.setKeyID();
    },
  },
};
</script>
<style scoped>
.shadow {
  opacity: 0.2;
}
.highlighted {
  background-color: #223c23;
  border-radius: 10px;
}
.compContaner {
  padding: 5px;
  margin: 0px;
}
.verror {
  background-color: black;
  color: #c91602;
}
</style>
