<template>
  <v-card>
    <v-container ma-1 fluid fill-height>
      <p v-show="false">{{ loadSwitch }}</p>

      <v-form>
        <ValidationObserver @submit.prevent="validate().then(submit)">
          <v-row no-gutters class="nowrap-overflow ">
            <ValidationProvider
              v-for="(field, i) in displayFieldsOpt"
              :key="i"
              :name="field.id"
              :rules="field.rules"
              v-slot="{ errors }"
              persist
            >
              <!-- v-for="(field, i) in displayFieldsOpt"
            :key="i"
   -->
              <v-col class="optContaner">
                <v-row
                  v-for="(obj, x) in field.valNidObjs"
                  :key="obj.keyid"
                  :class="{
                    highlighted: getHighlightedRow() == obj.keyid,
                    shadow: isNewRow(field.valNidObjs, x),
                  }"
                >
                  <v-col v-if="field.id == 'componentlink'">
                    <v-select
                      v-model="obj.value"
                      :items="getCompSelection(obj.keyid)"
                      @change="setInv(field.id, obj.keyid, obj.value)"
                      @click="setHighlightRow(obj.keyid)"
                      @focus="setHighlightRow(obj.keyid)"
                      :placeholder="obj.value"
                      label="Component Link"
                    ></v-select>
                  </v-col>
                  <v-col v-if="field.id == 'startTime'">
                    <template>
                      <v-text-field
                        v-if="!menust"
                        v-bind:value="getTime(field.id, obj.keyid, obj.value)"
                        label="Start Time"
                        readonly
                        @click="
                          (menust = true), (xtr = x), setHighlightRow(obj.keyid)
                        "
                        @focus="setHighlightRow(obj.keyid)"
                      ></v-text-field>
                      <v-time-picker
                        v-if="menust && xtr == x"
                        v-model="obj.value"
                        format="24hr"
                        width="220"
                        class="ml-0"
                      >
                        <v-spacer></v-spacer>
                        <v-btn
                          text
                          color="primary"
                          @click="(menust = false), (xtr = x)"
                          >Cancel</v-btn
                        >
                        <v-btn
                          text
                          color="primary"
                          @click="
                            setInv(field.id, obj.keyid, obj.value),
                              (menust = false),
                              (updateST[x] = true),
                              (xtr = x)
                          "
                          >OK</v-btn
                        >
                      </v-time-picker>
                    </template>
                  </v-col>
                  <v-col v-if="field.id == 'endTime'">
                    <template>
                      <v-text-field
                        v-if="!menuet"
                        v-bind:value="getTime(field.id, obj.keyid, obj.value)"
                        label="End Time"
                        readonly
                        @click="
                          (menuet = true), (xtr = x), setHighlightRow(obj.keyid)
                        "
                        @focus="setHighlightRow(obj.keyid)"
                      ></v-text-field>
                      <v-time-picker
                        v-if="menuet && xtr == x"
                        v-model="obj.value"
                        format="24hr"
                        width="220"
                        class="ml-0"
                      >
                        <v-spacer></v-spacer>
                        <v-btn
                          text
                          color="primary"
                          @click="(menuet = false), (xtr = x)"
                          >Cancel</v-btn
                        >
                        <v-btn
                          text
                          color="primary"
                          @click="
                            setInv(field.id, obj.keyid, obj.value),
                              (menuet = false),
                              (updateET[x] = true),
                              (xtr = x)
                          "
                          >OK</v-btn
                        >
                      </v-time-picker>
                    </template>
                  </v-col>
                  <v-col v-if="field.id == 'duration'">
                    <template>
                      <v-text-field
                        v-if="!menud"
                        v-bind:value="getTime(field.id, obj.keyid, obj.value)"
                        label="Duration"
                        readonly
                        @click="
                          (menud = true), (xtr = x), setHighlightRow(obj.keyid)
                        "
                        @focus="setHighlightRow(obj.keyid)"
                      ></v-text-field>
                      <v-time-picker
                        v-if="menud && xtr == x"
                        v-model="obj.value"
                        format="24hr"
                        width="220"
                        class="ml-0"
                      >
                        <v-spacer></v-spacer>
                        <v-btn
                          text
                          color="primary"
                          @click="(menud = false), (xtr = x)"
                          >Cancel</v-btn
                        >
                        <v-btn
                          text
                          color="primary"
                          @click="
                            setInv(field.id, obj.keyid, obj.value),
                              (menud = false),
                              (updateD[x] = true),
                              (xtr = x)
                          "
                          >OK</v-btn
                        >
                      </v-time-picker>
                    </template>
                  </v-col>
                  <v-col
                    v-if="field.id == 'onOff'"
                    cols="7"
                    md="10"
                    sm="10"
                    class="io"
                  >
                    <v-checkbox
                      v-model="obj.value"
                      :placeholder="field.id"
                      label="I/O"
                      @keyup="setInv(field.id, obj.keyid, obj.value)"
                      @focus="setHighlightRow(obj.keyid)"
                    ></v-checkbox>
                  </v-col>

                  <v-col v-if="field.id == 'notes'">
                    <v-text-field
                      v-model="obj.value"
                      :placeholder="field.id"
                      :label="field.id"
                      @keyup="setInv(field.id, obj.keyid, obj.value)"
                      @click="setHighlightRow(obj.keyid)"
                      @focus="setHighlightRow(obj.keyid)"
                    ></v-text-field>
                  </v-col>

                  <v-col v-if="isEndCol(i, x, field.valNidObjs.length)">
                    <v-btn
                      @click="deleteRow(obj.keyid), setHighlightRow(obj.keyid)"
                      >Delete</v-btn
                    >
                  </v-col>
                </v-row>
                <span class="verror">{{ errors[0] }}</span>
              </v-col>
            </ValidationProvider>
          </v-row>
        </ValidationObserver>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
  props: ["loadSwitch"],
  created() {
    //populate data from state
    this.opts = this.$store.getters.getOpts;
    //load form feilds
    this.opts.forEach((e) => {
      this.displayFieldsOpt.push(e);
    });
    return this.displayFieldsOpt;
  },
  data: () => ({
    displayFieldsOpt: [],
    opts: null,
    comps: null,
    alert: false,
    menust: false,
    menuet: false,
    menud: false,
    updateST: [false],
    updateET: [false],
    updateD: [false],
    payload: {
      id: null,
      value: null,
      keyid: null,
    },
  }),
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  methods: {
    setInv(id, keyid, value) {
      if (
        this.payload.id != id ||
        this.payload.keyid != keyid ||
        this.payload.value != value
      ) {
        this.payload.id = id;
        this.payload.keyid = keyid;
        this.payload.value = value;
        var topt = this.$store.getters.getOpts;
        if (topt[0].valNidObjs[keyid - 1].value == null) {
          //pop up
          this.displayFieldsOpt.forEach((e) => {
            if (e.id == id) {
              e.valNidObjs[keyid - 1].value = null;
            }
          });
          this.$swal({
            title: "Error",
            text: "One must select a component link first.",
          });
        } else if (value != null && value != "") {
          this.$store.dispatch("setOpt", this.payload);
          this.setDisplayFields();
        }
      }
    },
    setDisplayFields() {
      this.displayFieldsOpt = this.$store.getters.getOpts;
    },
    isEndCol(i, x, valNidObjsLength) {
      var n = (i + 1) / 6;
      var result = n - Math.floor(n) !== 0;
      if (
        !result &&
        i != 0 &&
        (x != 0 || valNidObjsLength >= 2) &&
        x != valNidObjsLength - 1
      ) {
        return true;
      } else {
        return false;
      }
    },
    isNewRow(obj, x) {
      if (x != 0 && x == obj.length - 1) {
        return true;
      } else {
        return false;
      }
    },
    deleteRow(dkeyid) {
      this.$store.dispatch("setDeleteOpt", dkeyid);
      this.setDisplayFields();
      this.alert = true;
      setTimeout(() => (this.alert = false), 1000);
    },
    getCompSelection() {
      this.comps = this.$store.getters.getterComps;
      var returnVal = [];
      var isUsed = [];
      //get a list of all the componets with options already
      this.displayFieldsOpt.forEach((f) => {
        if (f.id == "componentlink") {
          f.valNidObjs.forEach((o) => {
            for (var x = 0; x < this.comps[0].valNidObjs.length; x++) {
              var usedCompValue = this.comps[0].valNidObjs[x].value;
              if (o.value == usedCompValue) {
                isUsed.push(usedCompValue);
              }
            }
          });
        }
      });
      //push the componet value
      for (var x = 0; x < this.comps[0].valNidObjs.length; x++) {
        var compValue = this.comps[0].valNidObjs[x].value;
        if (!isUsed.includes(compValue)) {
          returnVal.push(this.comps[0].valNidObjs[x].value);
        }
      }
      return returnVal;
    },
    getHighlightedRow() {
      var highlightedRow = this.$store.getters.getHigh;
      this.comps = this.$store.getters.getterComps;
      var complinkVal = null;
      var returnVal = null;
      //use the complink value to match the corrasponding comp value and pass the comp value as the id
      this.comps.forEach((comp) => {
        if (comp.id == "component") {
          comp.valNidObjs.forEach((compobj) => {
            if (compobj.keyid == highlightedRow) {
              complinkVal = compobj.value;
            }
          });
        }
      });
      //get the componet link values based on its value, return keyid
      this.displayFieldsOpt.forEach((display) => {
        if (display.id == "componentlink") {
          display.valNidObjs.forEach((displayobj, x) => {
            if (
              displayobj.value == complinkVal &&
              display.valNidObjs.length != 1
            ) {
              returnVal = displayobj.keyid;
            }
          });
        }
      });
      return returnVal;
    },
    setHighlightRow(clickedKeyid) {
      this.comps = this.$store.getters.getterComps;
      var displaylinkVal = null;
      //get the componet link values based on its key id
      this.displayFieldsOpt.forEach((display) => {
        if (display.id == "componentlink") {
          display.valNidObjs.forEach((displayobj) => {
            if (displayobj.keyid == clickedKeyid) {
              displaylinkVal = displayobj.value;
            }
          });
        }
      });
      //use the complink value to match the corrasponding comp value and pass the comp value as the id'
      this.comps.forEach((comp) => {
        if (comp.id == "component") {
          comp.valNidObjs.forEach((compobj) => {
            if (compobj.value == displaylinkVal) {
              this.$store.dispatch("setHigh", compobj.keyid);
            }
          });
        }
      });
    },
    getTime(id, keyid, value) {
      //https://www.mathsisfun.com/time-add-subtract.html
      this.setDisplayFields();
      var tempST = null;
      var tempET = null;
      var tempD = null;
      var fixET = false;
      var fixST = false;
      var fixD = false;
      //get current times based on keyid
      this.displayFieldsOpt.forEach((f) => {
        f.valNidObjs.forEach((o) => {
          if (o.keyid == keyid) {
            if (f.id == "startTime") {
              tempST = o.value;
            }
            if (f.id == "endTime") {
              tempET = o.value;
            }
            if (f.id == "duration") {
              tempD = o.value;
            }
          }
        });
      });

      //split times hr and min it to seprate ints 09:07 = hr9 , min7
      //start time
      var stHr = null;
      var stMin = null;
      if (tempST != null) {
        var stArr = tempST.split(":");
        // if (stArr[0] == "00") {
        //   stArr[0] = "24";
        // }
        stHr = parseInt(stArr[0], 10);
        stMin = parseInt(stArr[1], 10);
      }

      //end time
      var etHr = null;
      var etMin = null;
      if (tempET != null) {
        var etArr = tempET.split(":");
        // if (etArr[0] == "00") {
        //   etArr[0] = "24";
        // }
        etHr = parseInt(etArr[0], 10);
        etMin = parseInt(etArr[1], 10);
      }

      //duration
      var dHr = null;
      var dMin = null;
      if (tempD != null) {
        var dArr = tempD.split(":");
        // if (dArr[0] == "00") {
        //   dArr[0] = "24";
        // }
        dHr = parseInt(dArr[0], 10);
        dMin = parseInt(dArr[1], 10);
      }
      //calulation will be the return value
      var calulation = null;

      //calulate the times initaly
      if (
        id == "duration" &&
        tempST != null &&
        tempET != null &&
        tempD == null &&
        this.updateST[keyid - 1] &&
        this.updateET[keyid - 1]
      ) {
        this.updateET[keyid - 1] = false;
        this.updateST[keyid - 1] = false;
        //subtracting start time and end time
        calulation = this.subtractingTime(stMin, etMin, stHr, etHr);
        this.setInv(id, keyid, calulation);
        return calulation;
      } else if (
        id == "startTime" &&
        tempET != null &&
        tempD != null &&
        tempST == null //&&
        // this.updateD[keyid - 1] &&
        // this.updateET[keyid - 1]
      ) {
        this.updateET[keyid - 1] = false;
        this.updateD[keyid - 1] = false;
        //subtracting end time and duration
        calulation = this.subtractingTime(etMin, dMin, etHr, dHr);
        this.setInv(id, keyid, calulation);
        return calulation;
      } else if (
        id == "endTime" &&
        tempST != null &&
        tempD != null &&
        tempET == null &&
        this.updateD[keyid - 1] &&
        this.updateST[keyid - 1]
      ) {
        this.updateST[keyid - 1] = false;
        this.updateD[keyid - 1] = false;
        //adding start time and duration
        calulation = this.addingTime(stMin, dMin, stHr, dHr);
        this.setInv(id, keyid, calulation);
        return calulation;
      } else {
        //update times
        if (value != null) {
          if (
            id == "startTime" &&
            this.updateST[keyid - 1] &&
            tempST != null &&
            tempET != null
          ) {
            this.updateST[keyid - 1] = false;
            this.setInv(id, keyid, value);
            // fix durr
            calulation = this.subtractingTime(stMin, etMin, stHr, etHr);
            this.setInv("duration", keyid, calulation);
          } else if (
            id == "endTime" &&
            this.updateET[keyid - 1] &&
            tempST != null &&
            tempET != null
          ) {
            this.updateET[keyid - 1] = false;
            this.setInv(id, keyid, value);
            // fix durr
            calulation = this.subtractingTime(stMin, etMin, stHr, etHr);
            this.setInv("duration", keyid, calulation);
          } else if (
            id == "duration" &&
            this.updateD[keyid - 1] &&
            tempST != null &&
            tempD != null
          ) {
            this.updateD[keyid - 1] = false;
            this.setInv(id, keyid, value);
            //fix end time
            calulation = this.addingTime(stMin, dMin, stHr, dHr);
            this.setInv("endTime", keyid, calulation);
          } else {
            return value;
          }
        }
        // this.updateST = false;
        // this.updateET = false;
        // this.updateD = false;
        return value;
      }
    },
    subtractingTime(tmin1, tmin2, thr1, thr2) {
      //calulation will be the return value
      var cHr = null;
      var cMin = null;
      var calulation = null;
      //subtracting start time and end time
      if (thr1 - thr2 >= 0) {
        //if subtracting the min goes into the next hr
        if (tmin1 - tmin2 < 0 && thr1 != thr2) {
          cMin = Math.abs(tmin1 - tmin2);
          cMin = 60 - cMin;
          cHr = Math.abs(thr1 - thr2);
          cHr = cHr - 1;
          //add leading 0
          cHr = cHr < 10 ? "0" + cHr : cHr;
          cMin = cMin < 10 ? "0" + cMin : cMin;
          //format time
          calulation = cHr + ":" + cMin;
          return calulation;
        } else {
          //raw calulation
          cHr = Math.abs(thr1 - thr2);
          cMin = Math.abs(tmin1 - tmin2);
          //add leading 0
          cHr = cHr < 10 ? "0" + cHr : cHr;
          cMin = cMin < 10 ? "0" + cMin : cMin;
          //format time
          calulation = cHr + ":" + cMin;
          return calulation;
        }
      } else {
        //raw calulation
        cHr = Math.abs(thr1 - thr2);
        // second time is only 1 hr ahead
        if (thr1 + 1 == thr2) {
          cMin = 60 - tmin1 + tmin2;
          if (cMin > 60) {
            cMin = cMin - 60;
            // the hour will be -1 but we used math.abs giving us 1 abouve
          } else {
            cHr = 0;
          }
        } else {
          if (tmin1 == 0 && tmin2 == 0) {
            cMin = tmin1 - tmin2;
          } else if (tmin1 == 0) {
            cMin = tmin2;
          } else if (tmin2 == 0) {
            cMin = tmin1;
          } else if (tmin1 > tmin2 && tmin2 - tmin1 < 0) {
            //math trick for too big of a min
            cMin = tmin2 - tmin1;
            cMin = cMin + 60;
            cHr = Math.abs(cHr - 1);
          } else {
            cMin = Math.abs(tmin1 - tmin2);
          }
        }

        //add leading 0
        cHr = cHr < 10 ? "0" + cHr : cHr;
        cMin = cMin < 10 ? "0" + cMin : cMin;
        //format time
        calulation = cHr + ":" + cMin;
        return calulation;
      }
    },
    addingTime(tmin1, tmin2, thr1, thr2) {
      //calulation will be the return value
      var cHr = null;
      var cMin = null;
      var calulation = null;
      //adding start time and duration
      if (tmin1 + tmin2 < 60) {
        //raw calulation
        cHr = Math.abs((thr1 + thr2) % 24);
        cMin = Math.abs(tmin1 + tmin2);
        //add leading 0
        cHr = cHr < 10 ? "0" + cHr : cHr;
        cMin = cMin < 10 ? "0" + cMin : cMin;
        //format time
        calulation = cHr + ":" + cMin;
        return calulation;
      } else {
        //raw calulation
        cHr = Math.abs((thr1 + thr2) % 24);
        cMin = tmin1 + tmin2;
        //math trick for too big min
        cHr = Math.abs(cHr + 1);
        cMin = cMin - 60;
        //add leading 0
        cHr = cHr < 10 ? "0" + cHr : cHr;
        cMin = cMin < 10 ? "0" + cMin : cMin;
        //format time
        calulation = cHr + ":" + cMin;
        return calulation;
      }
    },
  },
  watch: {
    loadSwitch: function(newVal, oldVal) {
      // watch it
      console.log("old " + oldVal);
      console.log("new " + newVal);
      this.setDisplayFields();
    },
  },
};
</script>

<style>
.nowrap-overflow {
  flex-wrap: nowrap;
  overflow-x: auto;
}
.shadow {
  opacity: 0.2;
}
.searchSec {
  padding: 15px;
}
.highlighted {
  background-color: #223c23;
  border-radius: 10px;
}
.optContaner {
  padding: 5px;
  margin: 0px;
}
.io {
  padding: 10px;
  margin: 0px;
  height: 94px;
}
.time {
  padding: 10px;
  margin: 0px;
  height: 50px;
  width: 70px;
}
.verror {
  background-color: black;
  color: #c91602;
}
</style>
