<template>
  <v-card :color="'secondary'">
    <v-container class=" fluid ma-0 pa-1 fill-height">
      <v-row class="searchSec" dense no-gutters>
        <v-col tile md="3">
          <v-text-field
            persistent-hint
            filled
            outlined
            v-model="searchTxt"
            placeholder="Search for existing inventory titles"
            label="search"
          ></v-text-field
        ></v-col>

        <v-col class="pa-2">
          <v-btn @click="search(searchTxt)">Search</v-btn></v-col
        >
      </v-row>
      <v-row v-for="(result, i) in resultsArr" :key="i" class="pad" no-gutters>
        <v-col class="pa-2" cols="1" sm="2" md="1">
          <v-btn @click="load(result)">Load</v-btn></v-col
        >
        <!-- <v-col class="pa-2" cols="2" sm="2" md="2"
          ><v-text-field v-model="result.title" disabled></v-text-field
        ></v-col> -->
        <v-col class="pa-0" sm="25"
          ><v-textarea disabled v-model="result.description"></v-textarea
        ></v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script>
import axios from "axios";
export default {
  data: () => ({
    searchTxt: null,
    resultsArr: [],
  }),
  methods: {
    search(s) {
      var user = this.$store.getters.getUser;
      if (user.isLoggedIn) {
        this.resultsArr = this.getInv(s);
      } else {
        //pop up
        this.$swal({
          title: "Load Declined",
          text: "please use the beata loggin to save and load data.",
        });
      }
    },

    load(r) {
      //load the inv
      this.$store.dispatch("setInvFromLoad", r);
      this.$store.dispatch("clearCompState");
      var loaded = this.$store.getters.getterComps;
      this.$store.dispatch("setCompFromMaster", r);
      this.$store.dispatch("clearOptState");
      this.$store.dispatch("setCompFromOption", r);
      var loaded = this.$store.getters.getterComps;
      this.$emit("loadDataInit");
      //this.resultsArr = [];
    },
    getInv(s) {
      var tempResultArr = [];
      var url =
        "https://sd-inventory-535c1-default-rtdb.firebaseio.com/inventory.json?" +
        'orderBy="title"' +
        '&equalTo="' +
        s +
        '"' +
        "&limitToLast=5" +
        "&print=pretty";
      axios
        .get(url)
        .then(function(response) {
          //handle success
          console.log(response);
          //get id from response
          const status = JSON.parse(response.status);
          if (status == "200") {
          }

          var result = {
            user: {
              id: null,
              userName: "",
              password: "",
              email: "",
              isLoggedIn: false,
            },
            invId: null,
            uid: null,
            title: "",
            description: "",
            createdDate: "",
            lineItem: [],
          };
          var x = 0;
          for (const id in response.data) {
            result.user.id = id;
            result.user.userName = response.data[id].user.userName;
            result.user.password = response.data[id].user.password;

            result.title = response.data[id].title;
            result.description = response.data[id].description;
            result.createdDate = response.data[id].createdDate;
            for (var i = 0; i < response.data[id].lineItem.length; i++) {
              var li = {
                component: null,
                amount: null,
                unitOfMeasurement: null,
                onOff: null,
                notes: null,
                startTime: null,
                endTime: null,
                duration: null,
                keyid: 1,
              };
              li.component = response.data[id].lineItem[i].component;
              li.amount = response.data[id].lineItem[i].amount;
              li.unitOfMeasurement =
                response.data[id].lineItem[i].unitOfMeasurement;
              li.onOff = response.data[id].lineItem[i].onOff;
              li.notes = response.data[id].lineItem[i].notes;
              li.startTime = response.data[id].lineItem[i].startTime;
              li.endTime = response.data[id].lineItem[i].endTime;
              li.duration = response.data[id].lineItem[i].duration;
              li.keyid = response.data[id].lineItem[i].keyid;
              result.lineItem.push(li);
            }
            tempResultArr.push(result);
          }
        })
        .catch(function(response) {
          //handle error
          console.log(response);
        });
      return tempResultArr;
    },
  },
};
</script>
<style>
.searchSec {
  padding: 10px;
  height: 72px;
  /* margin-bottom: 20px; */
}
.pad {
  padding: 6px;
}
</style>
