<template>
  <v-card class="userSec" :color="'#350145'">
    <div v-if="!isLoggedIn">
      <v-row no-gutters>
        <v-col cols="2" md="3" sm="4">
          <v-text-field
            v-model="userName"
            placeholder="betaUser"
            label="user name"
            hide-details="auto"
          ></v-text-field>
        </v-col>
        <v-col cols="2" md="3" sm="4">
          <v-text-field
            v-model="password"
            placeholder="Betalogin1234%"
            label="password"
            :type="show1 ? 'text' : 'password'"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="show1 = !show1"
          ></v-text-field>
        </v-col>
        <v-col style="margin-top: 12px; padding-left: 8px; " cols="3" md="3"
          ><v-btn @click="login(userName, password)">Login</v-btn></v-col
        >
      </v-row>
    </div>
    <div v-else>
      <v-avatar
        class="pa-4 grey darken-4 text-no-wrap rounded-pill profile"
        width="300"
        height="40"
        tile
      >
        <v-spacer></v-spacer>
        <h2 class="white--text headline">{{ userName }}</h2>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-4" x-small @click="logout()">Logout</v-btn>
        <v-spacer></v-spacer>
      </v-avatar>
    </div>
  </v-card>
</template>

<script>
import axios from "axios";
export default {
  created() {
    var user = this.$store.getters.getUser;
    if (user.isLoggedIn) {
      this.isLoggedIn = true;
    }
  },
  data: () => ({
    uid: null,
    userName: "betaUser",
    password: "Betalogin1234%",
    email: "",
    isLoggedIn: false,
    loginAttemps: 0,
    show1: false,
  }),
  methods: {
    login(u, p) {
      if (this.loginAttemps < 2) {
        var url =
          "https://sd-inventory-535c1-default-rtdb.firebaseio.com/inventory.json?" +
          'orderBy="user/userName"' +
          '&equalTo="' +
          u +
          '"' +
          "&limitToLast=1" +
          "&print=pretty";
        axios
          .get(url)
          .then((response) => {
            //handle success
            console.log(response);
            //get id from response
            const status = JSON.parse(response.status);
            if (status == "200") {
            }

            var results = {
              id: null,
              userName: null,
              password: null,
            };
            for (const id in response.data) {
              results.id = id;
              results.userName = response.data[id].user.userName;
              results.password = response.data[id].user.password;
            }
            if (results.userName == u && results.password == p) {
              this.userName = results.userName;
              this.password = results.password;
              this.isLoggedIn = true;

              var payload = {
                userName: this.userName,
                password: this.password,
                isLoggedIn: true,
              };
              this.$store.dispatch("setUser", payload);
              this.loginAttemps = 0;
            } else {
              this.isLoggedIn = false;
            }
          })
          .catch(function(response) {
            //handle error
            console.log(response);
          });
      } else {
        //pop up
        this.$swal({
          title: "Exceded Login Attemps",
          text: "Only 3 attemps permited.",
        });
      }
      if (this.loginAttemps < 3) {
        this.loginAttemps++;
      }
    },
    logout() {
      this.userName = "";
      this.password = "";
      this.isLoggedIn = false;
    },
  },
};
</script>
<style>
.userSec {
  height: 55px;
  padding-left: 15px;
}
.profile {
  margin-top: 8px;
  padding-left: 1px;
}
</style>
