<template>
  <v-app>
    <v-main>
      <app-header></app-header>
	      <route-scroll :isMobile="isMobile"></route-scroll>
    </v-main>
  </v-app>
</template>

<script>
import Header from "./components/header/Header";
import RouteScroll from "./components/RouterViewSheetScroll";

export default {
  name: "App",
  mounted() {
	var x = window.matchMedia("(max-width: 960px)");
	if (x.matches) {
        this.isMobile = true;
      }
  },
  components: {
	appHeader: Header,
	routeScroll: RouteScroll,
  },
  data: () => ({
	isMobile: false
  }),
};
</script>
